body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  /* padding: 90px; */
}

header {
  display: flex;
}

#headerpic1 {
  width: 50px;
  margin-left: 305px;
  margin-top: 30px;
}

.hdrtxt {
  display:inline-block;
  margin-top: 30px;
}

#delicious {
  margin-left: 5px;
}

#deliciouscaption {
  margin-left: 5px;
}

.icons {
  display: flex;
  justify-content: right;
  color: black;
  margin-left: 355px;
  margin-top: 30px;
}

.signalmail {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}

/* SECTIONS: */
section:nth-child(1) {
  width: 940px;
  margin: 30px auto;
  display: block;
  justify-content: center;
  padding-top: 15px;
  line-height: 1.2;
}

section:nth-child(2) {
  background-image: url("./images/list-bg.png");
  padding-top: 35px;
  padding-bottom: 45px;
  width: 940px;
  height: 200px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

#sugar {
  text-decoration: line-through;
}

#eggyolks {
  text-decoration: line-through;
}

label {
  font-size: x-large;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

section img {
  padding: 15px;
}

section:nth-child(3) {
  width: 940px;
  height: 100px;
  margin-left: 240px;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

section article {
  padding-left: 10px;
  top: 15px;
  width: 960px;
  height: 100px;
}

h3 {
  font-weight: 600;
  font-size: large;
  text-align: left;
}

button {
  font-size: x-large;
  float: right;
  background-color: rgb(161, 68, 68);
  border: 3px black;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

footer {
  display: flex;
  width: 940px;
  height: 100px;
  margin: 30px auto;
}

img.align-left {
  float: left;
  margin-left: 25px;
}

